.nav-main {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background: navy;
  color: #f3f3f3;
  align-items: center;
}

@media all and (max-width: 500px) {
  .nav-main {
    flex-direction: column;
  }
}

.nav-main h1 {
  margin-left: 20px;
}

@media all and (max-width: 500px) {
  .nav-main h1 {
    margin-left: 0px;
  }
}

.nav-links {
  display: flex;
  justify-content: row;
  list-style: none;
  margin-right: 20px;
  align-items: center;
  padding: 0;
}

@media all and (max-width: 500px) {
  .nav-links {
    flex-direction: column;
    margin: 5px;
    margin-right: 0;
  }
}

.nav-link {
  margin-right: 20px;
  opacity: 0.6;
  transition: 0.2s opacity ease-in-out;
}

@media all and (max-width: 500px) {
  .nav-link {
    margin-bottom: 10px;
    margin-right: 0px;
  }
}

.nav-link:hover {
  opacity: 1;
}

.nav-link a {
  color: #f3f3f3;
  text-decoration: none;
}
